<label class="logo" style="text-align: center; color: salmon; font-size: 1.2em; font-weight: bold">
    Health Scheduler
</label>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <div *ngIf="!menuItem.divider">
                <a class="nav-link" [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </div>
            <mat-divider *ngIf="menuItem.divider"></mat-divider>
        </li>
    </ul>
</div>